*{
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e3f9ff;
}

.calculator {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 5px 4px 6px rgba(10, 10, 10, 20);
    justify-self: center;
    background-color: #3a4452;
    max-width: fit-content;
}

form .display{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    margin: 5px 0;
    background-color: darkGrey;
}

form .display input{
    background-color: darkGrey;
    text-align: right;
    flex: 1;
    font-size: 30px;
    box-shadow: none;
}

.operators {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto auto auto auto;
    max-width: fit-content;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;

}

#addition, #subtraction, #division, #multiplication {
    background: linear-gradient(to right, #848485, #272727, #848485);
    color: white
}

#allClear{
    background: linear-gradient(to right, #848485, #272727, #848485);
    color: red;
    max-width: 50px;
}

.numbersAndOperators {
    max-width: fit-content;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(5, auto); /* Adjusted to 5 columns */
    grid-template-rows: auto auto auto auto auto;
}

button{
    width: 100px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    background: linear-gradient(to right, #555555, #111010, #555555);
    color: #e3f9ff;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, .2);
}

button:hover{
    background-color: grey;
}

#equals{
    background-color: orange;
    max-width: 50px;
    grid-column-start: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

#squareRoot, #power, #pi, #modulous{
    background: linear-gradient(to right, #848485, #272727, #848485);
    color: white;
}


#clear{
    background-color: red;
}

#zero {
    grid-column: span 2;
    width: 205px;
}